 <style>
    .iframe-epag {
        margin: 0;
        padding: 0;
        border: 0;
        width: 1px;
        min-width: 100%;
    }
</style>

<h2>Informação da GRU:</h2>

<table>
  <tbody>
    <tr>
      <th scope="row">Código de Serviço</th>
      <td><%= @gru.codigoServico %></td>
    </tr>
    <tr>
      <th scope="row">Nome Contribuinte</th>
      <td><%= @gru.nomeContribuinte %></td>
    </tr>
    <tr>
      <th scope="row">CPF ou CNPJ</th>
      <td><%= @gru.cnpjCpf %></td>
    </tr>
    <tr>
      <th scope="row">Número de Referência</th>
      <td><%= @gru.referencia %></td>
    </tr>
    <tr>
      <th scope="row">Competência</th>
      <td><%= @gru.competencia %></td>
    </tr>
    <tr>
      <th scope="row">Data de Vencimento</th>
      <td><%= @gru.vencimento %></td>
    </tr>
    <tr>
      <th scope="row">Valor Principal</th>
      <td><%= @gru.valorPrincipal %></td>
    </tr>
    <tr>
      <th scope="row">Descontos</th>
      <td><%= @gru.valorDescontos %></td>
    </tr>
    <tr>
      <th scope="row">Outras Deduções</th>
      <td><%= @gru.valorOutrasDeducoes %></td>
    </tr>
    <tr>
      <th scope="row">Descontos</th>
      <td><%= @gru.valorDescontos %></td>
    </tr>
    <tr>
      <th scope="row">Multa</th>
      <td><%= @gru.valorMulta %></td>
    </tr>
    <tr>
      <th scope="row">Juros</th>
      <td><%= @gru.valorJuros %></td>
    </tr>
    <tr>
      <th scope="row">Outros Acréscimos</th>
      <td><%= @gru.valorOutrosAcrescimos %></td>
    </tr>
    <tr>
      <th scope="row">Situação</th>
      <td><%= @gru.status %></td>
    </tr>
  </tbody>
</table>

<%= button_to "Pagar", pagamento_gru_index_path(@gru) %>

<% if response["proximaUrl"] %>
  <iframe class="iframe-epag"
    src="<%= response["proximaUrl"] %>"
    scrolling="no">
  </iframe>
<% end %>

<%= link_to "Voltar", gru_index_path %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.6/iframeResizer.min.js"></script>
<script>
  iFrameResize({ heightCalculationMethod: "documentElementOffset" }, ".iframe-epag");
</script>
